@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #a8be2f;
  --main-color-alt: #7e9019;
  --main-color-opacity: #e3ff4263;
  --main-transition: 0.3s;
  --main-padding: 80px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Cairo", sans-serif;
}
